/* HeaderLogo................................ */

.HeaderLogo {
  width: 150px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto 
}

/* Header Vintage & New................................ */

.Header {
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  display: flex;
  margin-top: 5px;
}
.Header{
  width: 100%;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}
a.newinb {
  text-decoration: none !important;
}
a:hover{
  color: pink !important;
}
a.newinb {
  color: rgb(245, 161, 175)!important;
}
.Header:hover {
  color: rgb(245, 161, 175)!important;
}
a.dropdown-item {
  background-image: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
#dropdown-basic {
  background-color: transparent !important;
background-image: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

.Menu:hover {
  color: rgb(245, 161, 175) !important;
}

#dropdown-basic {
  background-color: transparent;
  border: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-decoration: none!important;
}

a.nav-link {
  text-decoration: none!important;
  color: rgb(245, 161, 175)!important;
}

a.nav-link:hover {
  color: black!important;
}
.repage {
  color: black!important;
  text-decoration: none !important;
}


/* Header New..................................... */

a.sale {
  color: rgb(245, 9, 48) !important;
  text-decoration: none !important;
}
.vintage:hover {
  color: rgb(245, 161, 175);
}


/* Header Vintage ................................ */



/* ................................ */
