.imgProductCard {
  margin: 10px auto !important;
}

.far {
  color: grey;
}
.fa-trash-alt:hover {
  color: red;
}
.stripe.dark p:hover {
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}

.product-card-1 {
  justify-content: center;
}
