.modal-dialog {
  max-width: 75%;
  margin: 1.75rem auto;
}

.row {
  padding-bottom: 30px;
}

.modal-header {
  border-bottom: 0px;
}

.popuptext {
  text-align: left;
}

.Description {
  line-height: 1.5;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 18px;
  font-weight: 200;
  font-family: "Lato", sans-serif !important;
}

.Title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
  color: gray;
}
.card-header {
  background-color: pink;
  margin-bottom: 30px;
}

.Price {
  font-size: 20px;
  font-weight: 300;
  font-family: "Lato", sans-serif !important;
}

.right-col-1 {
  padding-left: 7%;
}
