.footer {
  margin-top: 20px;
  margin-left: 20px;
}

.footer::before {
  content: "";
  height: 1px;
  background-color: grey;
  width: 100%;
  float: left;
  margin: 10px -20px;
  top: 50%;
}

.Logofooter {
  margin-top: 2px;
  width: 100px;
  float: left;
}

i {
  width: 75px;
  float: left;
  font-size: 15pt;
  color: black;
  margin-top: 17px;
}

i:hover {
  color: rgb(245, 161, 175);
}

i.fa-instagram {
  margin-left: 20px;
}