.grid-container1 {
  display: grid;
  grid-template-columns: 20% 20% 11% 10% 20% 20%;
  grid-template-rows: 200px 100px 30px 20px 250px 55px 10px 10px 10px 100px 100px 10px 10px 200px 50px 10px 210px 100px 100px 50px 50px 50px 100px 100px 100px 200px 70px 100px;
  /* width: 100vw; */
  /*   height: 100vh; */
  overflow-x: hidden;
  overflow-y: hidden;
}

.image1 {
  grid-area: 1 / 4 / 6 / 7;

  background-image: url(http://localhost:5000/Images/mainpic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;

  width: 95%;
}

.image2 {
  grid-area: 4 / 3 / 7 / 4;
  background-image: url(http://localhost:5000/Images/youarebeautiful.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: -17px;
  margin-right: 10px;
  width: 100%;
}

.image3 {
  grid-area: 4/ 1 / 12 / 3;
  margin-top: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  width: 90%;
  margin-left: 7%;
}

.line1 {
  grid-area: 6 / 4 / 7 / 7;
  background: pink;
  margin-top: 25px;
  margin-bottom: 10px;
}

.image4 {
  grid-area: 7 / 3 / 16 / 7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  margin-right: 7%;
  margin-top: 2%;
  width: 95%;
}

.image5 {
  grid-area: 18 / 1 /22 / 7;
  background: pink;
}

.image6 {
  grid-area: 15 / 1 / 21 / 5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  margin-left: 4.5%;
  width: 100%;
}

.image8 {
  grid-area: 26/ 1 / 27/ 2;
}

.image7 {
  grid-area: 23 / 2 / 27 / 7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  margin-right: 4%;
  width: 95%;
}

.image9 {
  grid-area: 27 / 1 / 28 / 7;
  background: pink;
  margin-top: 50px;
}
.bottomText {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: 700;
  float: right;
  width: 300px;
  color: white;
  margin: 4% 7%;
  letter-spacing: 0.25rem;
}

.bottomSideText {
  float: right;
  width: 150px;
  color: pink;
  margin-top: -20%;
  word-wrap: break-word;
  text-align: right;
  margin-right: 4%;
}

@media screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .image1 {
    grid-area: 1 /1 / 4/ 7;
    width: 90%;
    margin: 0 5% 0 0;
  }

  .image2 {
    visibility: hidden;
  }
  .image3 {
    grid-area: 4/ 1 / 8 / 7;

    width: 100%;
    margin: 2% 0 2% 5%;
  }
  .line1 {
    grid-area: 8 / 4 / 9 / 7;
    background: pink;
    margin-top: 0;
    margin-bottom: 0;
  }
  .image4 {
    grid-area: 9 / 1 / 15 / 7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    margin: 2% 5% 2% 0;
    width: 95%;
  }

  .image5 {
    grid-area: 18 / 1 /22 / 7;
    background: pink;
  }

  .bottomText {
    font-size: 30px;
    font-weight: 500;
    float: right;
    width: 200px;
    color: white;
    margin: 30% 12%;
  }

  .image6 {
    grid-area: 15 / 1 / 19 / 7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    margin-left: 4.5%;
    width: 100%;
  }

  .image7 {
    grid-area: 23 / 1 / 26/ 7;
  }

  .image8 {
    grid-area: 26/ 1 / 27/ 7;
    width: 100%;
  }

  .bottomSideText {
    float: right;
    width: 150px;
    color: pink;
    margin-top: 0;
    word-wrap: break-word;
    text-align: right;
    margin-right: 4%;
  }
}
