.div1 {
  width: 100%;
}

.left-div1 {
  width: 50%;
}

.right-div1 {
  width: 50%;
}

.left-left-div1 {
  width: 70%;
}

.right-left-div1 {
  width: 30%;
}

.div2 {
  width: 100%;
}

.left-div2 {
  width: 30%;
}

.right-div2 {
  width: 70%;
}

.div3 {
  width: 100%;
}

.left-div3 {
  width: 70%;
}

.right-div3 {
  width: 30%;
}

.div4 {
  width: 100%;
}

.left-div4 {
  width: 20%;
}

.right-div4 {
  width: 80%;
}
