.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 11% 10% 20% 20%;
  grid-template-rows: 10% 10% 30% 20% 20% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 50% 10%;
  width: 100vw;
  height: 100vh;
}

.image1 {
  grid-area: 1 / 4 / 6 / 7;
  background: red;
  background-image: url(http://localhost:5000/Images/mainpic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  margin-right: 7%;
}

.image2 {
  grid-area: 4 / 3 / 7 / 4;
  background-image: url(http://localhost:5000/Images/youarebeautiful.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: -17px;
  margin-right: 10px;
}

.image3 {
  grid-area: 4/ 1 / 10 / 3;
  background: green;
  margin-top: 70px;
  background-image: url(http://localhost:5000/Images/newclothes.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.line1 {
  grid-area: 6 / 4 / 7 / 7;
  background: pink;
  margin-top: 25px;
  margin-bottom: 10px;
}

.image4 {
  grid-area: 7 / 3 / 12 / 7;
  background: grey;
}

.image5 {
  grid-area: 13 / 1 / 17 / 7;
  background: black;
}

.image6 {
  grid-area: 11 / 1 / 16 / 5;
  background: yellow;
}

.image8 {
  grid-area: 17 / 1 / 19 / 2;
  background: teal;
}

.image7 {
  grid-area: 17 / 2 / 19 / 7;
  background: orange;
}
