.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 10% 10% 20% 20%;
  grid-template-rows: 10% 10% 30% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 50% 10%;
  width: 100vw;
  height: 100vh;
}

.image1 {
  grid-area: 1 / 4 / 6 / 7;
  background: red;
}

.image2 {
  grid-area: 3 / 3 / 7 / 4;
  background: blue;
}

.image3 {
  grid-area: 3 / 1 / 8 / 3;
  background: green;
}

.line1 {
  grid-area: 6 / 4 / 7 / 7;
  background: pink;
}

.image4 {
  grid-area: 7 / 3 / 12 / 7;
  background: grey;
}

.image5 {
  grid-area: 13 / 1 / 17 / 7;
  background: black;
}

.image6 {
  grid-area: 11 / 1 / 16 / 5;
  background: yellow;
}

.image8 {
  grid-area: 17 / 1 / 19 / 2;
  background: teal;
}

.image7 {
  grid-area: 17 / 2 / 19 / 7;
  background: orange;
}
