.aboutus {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.textabout1 {
  width: 50%;
  font-family: "Lato", sans-serif;
  font-size: 12pt;
  margin: 40px;
  float: left;
}

.textabout2 {
  width: 52%;
  font-family: "Lato", sans-serif;
  font-size: 12pt;
  margin: 40px;
  float: right;
}

.textabout3 {
  width: 50%;
  font-family: "Lato", sans-serif;
  font-size: 12pt;
  margin: 40px;
  float: left;
}

.mission-vision-container {
  width: 100%;
}

/* 
a {
  color: black !important;
  width: 50%;
  border: 0.5pt;
  margin-top: 15px;
}

form {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  padding-left: 5%;
} */

/* AboutUs ...............................*/

.fade.tab-pane.active.show {
  text-align: center;
  margin-top: 10px;
}
/* ContactUs ...............................*/

textarea.form-control {
  color: rgb(245, 161, 175) !important;
}
.form-control {
  color: rgb(245, 161, 175) !important;
}

.Formh2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: rgb(245, 161, 175);
  width: 40%;
  padding-left: 5%;
  margin-top: 20px;
}

.btn.btn-light {
  background-color: black !important;
  border: 0pt;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bolder;
  color: white;
  width: 70px;
  height: 30px;
}
.nav-item.nav-link.active {
  font-weight: bolder;
}
/* textarea {
  border-color: grey !important;
} */

/* input {
  border-color: grey !important;
} */

iframe {
  width: 100%;
  height: 100%;
}

.col-md-6 {
  position: relative;
  width: 400px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 200px;
  width: 400px;
}

.gmap_canvas {
  height: 200px;
  width: 100% !important;
}

.map-map {
  margin: 20px;
  width: 100%;
  height: 300px;

  background: none !important;
}

.facebook-poshcaravan {
  color: black;
  padding: 0 20px;
  font-size: 40px;
}

.insta-poshcaravan {
  color: black;
  padding: 0 20px;
  font-size: 40px;
}
/* h2 {
  font-size: 12pt;
  font-weight: bold;
  color: rgb(245, 161, 175);
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
} */

/* .........................................................*/
