.grid-container {
  display: grid;
  grid-template-columns: 20% 12% 12% 12% 12% 12% 20%;
  /* grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; */
  /* grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto; */

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* background: lightblue; */
  overflow-x: hidden;
}

.div-image1 {
  grid-area: 1 / 4 / 4 / 8;
  background-color: red;
  /* background-color: white; */
  height: 550px;
}
.div-image2 {
  grid-area: 2 / 3 / 3 / 4;
  background-color: green;
  height: 300px;
}

.div-image3 {
  grid-area: 2 / 1 / 4 / 3;
  background-color: blue;
  height: 600px;
  /* background-color: white; */
}

.line-div {
  grid-area: 2 / 4 / 3 / 8;
  background-color: pink;
  height: 30px;
}

.div-image4 {
  grid-area: 3 / 3 / 5 / 8;
  background-color: black;
  height: 700px;
}

.div-image5 {
  grid-area: 5 /1 / 6 / 4;
  background-color: yellow;
}
.div-image6 {
  grid-area: 6 / 1 / 7 / 8;
  background-color: pink;
  height: 350px;
}

.div-image7 {
  grid-area: 8 / 6 /9 / 8;
  background-color: orange;
}

.div-image8 {
  grid-area: 9 / 1 / 10 / 4;
  background-color: teal;
}
.img-width {
  width: 100%;
}
